.judul{
			display: table;
		}
		.rows1{
			display: table-row;
			align-content: center;
		}
		.cell1{
			display: table-cell;
			background-color: lightblue;
			width: 1700px;
			padding-top: 20px;
			font-family: "made soulmaze outline";
			text-align: center;
			font-size:30px;
		}
		.table{
			display: table;
		}
		.rows{
			display: table-row;
		}
		.cell{
			display: table-cell;
			height: 1000px;
			width: 200px;
;
			background-color: lightblue;
			font-family: "made soulmaze";
		}
		.cell2{
			display: table-cell;
			padding-top: 10px;
			padding-left: 20px;
			padding-bottom: 80px;
			font-family: "made soulmaze";
			background-color: lightblue;
			height: 570px;
		}
		.cell3{
			background-image: url(begron.jpg);
			background-size: cover;
			background-attachment: fixed;
			font-family: "made soulmaze regular";color: white;
			padding-left: 300px;
			padding-top: 20px;
			padding-right: 600px;
			font-size: 30px;

		}
		.b{
			background-image: url(images.jpg);
			background-size: cover;
			background-attachment: fixed;