	.box {
		font-family: georgia, serif;
		overflow: hidden;
		background-color: aqua;
	}
	.box .left {
		width: 40%;
		height: 300px;
		float: left;
		margin-top: 80px;
		background-color: aqua;
	}
	.box .right {
		padding: 8px;
		width: 70%;
		height: 1000px;
		margin-top: 40px;
		margin-left: 20px;
		font-size: 20pt;
	}
	.button {
		font-family: georgia, serif;
		font-size: 15pt;
	}
	div {
		text-align: justify;
	}